<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
<title>Insert title here</title>
<style type="text/css">
div{
	font-family: IBM Plex Sans KR;
}
</style>
</head>
<body>
<div style="margin: 100px 100px; width: 500px;">
	<form action="insert" method="post" enctype="multipart/form-data">
		<table class="table table-bordered">
			<caption align="top"><B>글쓰기</B></caption>		
			<tr>
				<th class="table-danger" width="120" valign="middle" style="text-align: center;">NAME</th>
				<td>
					<input type="text" name="carname" class="form-control"
					style="width: 150px;" required="required"> 
				</td>
			</tr>
			<tr>
				<th class="table-danger" width="120" valign="middle" style="text-align: center;">PRICE</th>
				<td>
					<input type="text" name="carprice" class="form-control"
					style="width: 150px;" required="required"> 
				</td>
			</tr>
			<tr>
				<th class="table-danger" width="120" valign="middle" style="text-align: center;">COLOR</th>
				<td>
					<input type="color" name="carcolor" class="form-control"
					style="width: 150px;" required="required"> 
				</td>
			</tr>
			<tr>
				<th class="table-danger" width="120" valign="middle" style="text-align: center;">PHOTO</th>
				<td>
					<input type="file" name="carupload" class="form-control"
					style="width: 300px;" required="required"> 
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" class="btn btn-outline-info" value="저장">
					<input type="button" class="btn btn-outline-warning" value="목록" onclick="location.href='list'">
				</td>
			</tr>
		</table>
	</form>
</div>
</body>
</html>